ion-content {
  ion-grid {
    .input-container {
      width: 100%;
      ion-item {
        width: 75%;
      }
      .btn-add {
        float: right;
        margin: -4em 0 0 0;
      }
      .btn-close {
        float: right;
        margin: -4em 4.5em 0 0;
      }
    }
    ion-item-sliding ion-item {
      ion-checkbox {
        position: fixed;
        z-index: 999;
        margin: 0 0 0 0;
        --border-color: #f58f66;
      }
      ion-label {
        margin-left: 2rem;
      }
      ion-label.completed {
        text-decoration: line-through;
        color: #6ef86e;
      }
      ion-label.uncompleted {
        color: #f58f66;
      }
    }
  }
}
